# Required
# RUN_ID="2026-02-19_run001"

# Required
# TOOL_CORE_RUN="echo core"
# TOOL_POSTCORE_REPORTING="echo reporting"

# Optional
# TOOL_SNAPSHOT="true"
# TOOL_POSTCORE_PUBLISH="true"
# TOOL_POSTCORE_MONITORING="true"

# ENABLE_PUBLISH="0"
# ENABLE_MONITORING="0"
